.page-offres {
    .offres-main-title {
        margin-top: 128px;
        margin-bottom: 64px;
    }
    .cards {
        transform: translateY(0px);

        @media screen and (min-width: 768px) {
            transform: translateY(-140px);
            margin-bottom: -150px;
        }

        .card {
            padding: 32px 48px;
            break-inside: avoid-column;
            margin-bottom: 24px;

            li {
                list-style: inside;
                text-transform: uppercase;
            }
            p {
                margin-top: 16px;
                line-height: 1.1em;
            }
            .offre-picto {
                transform: translateY(-90px);
                margin-bottom: -60px;
            }
        }
    }
}