header {
    position: fixed;
    width: 100vw;
    color: white !important;

    & div.container-full {
        z-index: 100;
        // background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.588) 100%);
        padding: 0;
        width: 100vw;
        // font-weight: 500;
    }
    & div.container-child {
        display: flex;
        justify-content: space-between;
        height: 140px;
        align-items: center;
        z-index: 100;
        font-weight: 500;

        @media screen and (max-width: 768px) {
            justify-content: center;
            height: 120px;
        }
    }
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .header-logo {
        width: 100px;
    }
    .header-link {
        display: block;
        width: 15%;
        color: white !important;

        @media screen and (max-width: 768px) {
            &:nth-child(1),
            &:nth-child(2), 
            &:nth-last-child(1), 
            &:nth-last-child(2) {
                display: none !important;
            }

            width: 80px;
        }
    }
    .header-link:nth-last-child(1),
    .header-link:nth-last-child(2) {
        display: block;
        width: 15%;
        text-align: right;
    }
    .header-link:nth-last-child(3) {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .menu-burger {
        display: none;
        position: fixed;
        right: 32px;
        top: 44px;
        width: 32px;
        cursor: pointer;
        
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    .language-buttons {
        position: fixed;
        top: 0;
        right: 32px;
        height: 32px;
        padding: 8px;
        font-size: 14px;
    }
}
