@import "./fonts/fonts.css";
@import "./config/colors.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./pages/home.scss";
@import "./pages/domaine.scss";
@import "./pages/offres.scss";
@import "./pages/reglement.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /*margin: 0 32px;*/
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--beige);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header > div, .container-child {
  max-width: 1086px;
  padding-left: 32px;
  padding-right: 32px;
}
header > div, .container-full, .container-child {
  margin: 0 auto;
}
.container-full {
  padding: 64px 0;
  width: 100vw;
}
.home {
  z-index: -10;
}
/*header, main, footer {*/
/*  margin: 0 auto;*/
/*  max-width: 1086px;*/
/*}*/
a {
  text-transform: uppercase;
}
a:visited {
  color: initial;
}
.bg-blur {
    color: white;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.2);
    // padding: 3rem 4rem;
}
.bg-beige {
  background-color: var(--beige);
}
.bg-green {
  background-color: var(--green);
}
.bg-mauve {
  background-color: var(--green);
}
.green {
  color: var(--green);
}
h1, h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  line-height: 1.2em;
}
h1, .bold {
  font-weight: 600;
}
h3 {
  font-size: 1.25em;
  text-transform: uppercase;
}
.img-background {
  min-width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -10;
  object-fit: cover;
  // background-attachment: fixed;
}
.empty-first-container {
    // position: relative;
    height: 60vh;
}
.cta {
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
}
.cta-green {
  background-color: var(--green);
  color: var(--beige);
}
.cta-red {
  background-color: var(--orange);
  color: var(--beige);
}
.cta-beige {
  background-color: var(--beige);
  color: var(--green);
}
.white {
  color: white;
}